<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/images/favicon.ico">

    <title>Bitzz Size Me</title>

    <!-- <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/"> -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900|Merriweather:400,700,900|Montserrat:400,700,900|Roboto:400,700,900&display=swap" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css">
<script src="https://code.iconify.design/1/1.0.3/iconify.min.js"></script>

  </head>
  <body class="text-center">



    <header>




<!-- <div class="container-fluid mb-5"> -->
  <nav class="  navbar navbar-expand-lg mt-2 mb-5 ">
    <embed src="/images/logo1.svg" class="navbar-brand mr-5 pr-5 ml-0 pl-0" width="150px" height="auto">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
<span class="iconify" style="color:#47a897" data-icon="fa:bars" data-inline="false"></span>
    </button>

    <div class=" collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav ml-0 pl-5 mt-2 mt-lg-0">
        <li class="nav-item pr-3">
          <a class="nav-link" href="#why">Why Bitzz.me?</a>
        </li>
        <li class="nav-item pr-3">
          <a class="nav-link" href="#input" style="color:#47a897">Shorten</a>
        </li>
      </ul>
    </div>

  </nav>
<!-- </div> -->











    </header>
